body {
    background-image: url(./Public/Images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;

    main {

    height: 90%;
    width: 90%;
    font-family: 'Libre-Baskeville';
    color: white;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;

        header {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            position: absolute;
            top: 10%;
        }

        .left-inputs {
        
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.555);
        height: 91px;
        width: 500px;
        padding: 10px;
        padding-right: 30px;
        position: absolute;
        left: 2%;

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 45px;
                color: black;
            }

            #input-coin {
                background-color: rgba(0, 0, 0, 0.582);
                color: white;
                border: none;
                margin: 10px;
                padding-left: 5px;
                border-radius: 8px;
                height: 81px;
                width: 71px;
                cursor: pointer;
                font-weight: bold;
            }

            #input-value {
                font-size: xx-large;
                text-align: center;
                margin-left: 10px;
                background-color: rgba(0, 0, 0, 0.596);
                border: none;
                color: white;
                border-radius: 8px;
                height: 81px;
                width: 465px;
            }
        }

        .buttons {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;

            #left-arrow, #right-arrow {

                background: none;
                border: none;
                transition: all linear 0.2s;
                cursor: pointer;

                #img-left-arrow, #img-right-arrow {
                    height: 49px;
                    width: 49px;
                }
            }

            #left-arrow:hover, #right-arrow:hover {
                transform: scale(1.2);
            }
        }

        .right-outputs {

            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.555);
            height: 91px;
            width: 500px;
            padding: 10px;
            padding-left: 30px;
            position: absolute;
            right: 2%;

            #p-right {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 45px;
                color: black;
            }

            #output-coin {
                background-color: rgba(0, 0, 0, 0.582);
                color: white;
                border: none;
                margin: 10px;
                padding-left: 5px;
                border-radius: 8px;
                height: 81px;
                width: 81px;
                font-weight: bold;
                cursor: pointer;
            }

            #output-value {
                font-size: xx-large;
                text-align: center;
                margin-right: 10px;
                background-color: rgba(0, 0, 0, 0.596);
                border: none;
                color: white;
                border-radius: 8px;
                height: 81px;
                width: 465px;
            }
        }

        .btn-submit {
            height: 90px;
            width: 233px;
            border-radius: 10px;
            border: none;
            color: white;
            cursor: pointer;
            background-color: #008291;
            font-weight: bold;
            font-size: xx-large;
            position: absolute;
            bottom: 10%;
            transition: all linear 0.2s;
        }

        .btn-submit:hover {
            background-color: aqua;
            transform: scale(1.1);
        }
    }
}

@media (max-width: 560px) {

}

@media (min-width: 561px) and (max-width: 1000px) {

}

@media (min-width: 1000px) and (max-width: 1300px) {
    
}