body {
    background-image: url(./Public/Images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    font-family: 'Libre-Baskeville';
    color: white;
}

#left-arrow, #right-arrow {
    height: 50px;
    font-weight: bold;
    background: none;
    border: none;
}